* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.First-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("./background.png");
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 115px;
}

header {
  display: flex;
  position: fixed;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0 80px;
  user-select: none;
  transition: 0.2s;
  z-index: 2;
}

.App-header *:hover {
  cursor: pointer;
}

.logo {
  /*width: 130px;*/
  /*height: 50px;*/
}

.navigation {
  display: flex;
  justify-content: flex-end;
  width: 250px;
}

.nav-item {
  padding: 0 20px;
  text-decoration: none;
  color: white;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-button {
  display: flex;
  height: 10px;
  flex-direction: column;
  justify-content: space-between;
}
.stick {
  width: 30px;
  height: 2px;
  background-color: white;
  margin-right: 5px;
  transition-duration: 0.2s;
}

.stick.opened:first-of-type {
  transform: rotateZ(45deg) translateX(5px);
}

.stick.opened:last-of-type {
  transform: rotateZ(-45deg) translateX(5px);
}

.lang-container {
  position: relative;
}

.lang {
  display: flex;
  align-items: center;
}

.lang-menu {
  position: absolute;
  display: none;
  background-color: darkred;
  top: 25px;
  padding: 10px;
}

li {
  list-style-type: none;
}

.lang-menu.visible {
  display: block;
}

.arrow {
  width: 0;
  height: 0;
  margin-left: 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
}

.arrow.up {
  transform: rotate(180deg);
}

.header.none {
  opacity: 0;
}

.header.dark {
  opacity: 1;
}

.header.dark * {
  color: black;
  border-top-color: black;
}

.header.dark .stick {
  background-color: black;
}

.header.dark .logo {
  filter: invert(1);
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
}

.main-left {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  text-align: left;
  color: white;
}
.main-right {
  height: 100%;
  width: 50%;
}

.company-title-container {
  background-image: url("./header-background.png");
  background-size: 115px;
  background-repeat: no-repeat;
  background-position: left;
  background-position-y: 40px;
  padding: 25px;
}

.company-title-container h5 {
  margin-bottom: 25px;
}

.main-title-container * {
  font-size: 30px;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: flex-end;
  height: 135px;
  width: 100%;
}

.footer {
  width: 0;
  transition: 1s;
}

.footer.visible {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  background-color: white;
}

.footer.visible.full {
  width: 100%;
}

.footer.visible.full * {
  opacity: 0;
}

.footer.none {
  display: none;
}

.info-item {
  font-size: 10px;
  padding-left: 40px;
  opacity: 0;
  transition: 0.2s;
  margin-left: -20px;
}

.info-item.visible {
  opacity: 1;
  margin-left: 0;
}

.info-item:first-of-type {
  font-weight: bold;
}

.next-page-button-container {
  opacity: 0;
  margin-left: -20px;
  padding: 0 40px;
  transition: 0.2s;
}

.next-page-button-container.visible {
  margin-left: 15%;
  opacity: 1;
}

.next-page-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #cf2028;
}

.next-page-button:hover {
  cursor: pointer;
}

.Second-screen {
  position: absolute;
  display: block;
  height: 0;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s;
  width: 100%;
  bottom: 0;
}

.Second-screen.visible {
  background-color: white;
  height: 100vh;
}

.secondScreenContainer {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 115px;
  padding: 0 50px;
  width: 100%;
  height: calc(100% - 115px);
}

.secondScreenContainer.visible {
  display: flex;
}

.second-screen-header {
  display: flex;
  justify-content: space-between;
}

.second-screen-header .header {
  margin-left: -20px;
  opacity: 0;
  transition: 0.5s;
}

.second-screen-header .header.visible {
  opacity: 1;
  margin-left: 0;
}

.second-screen-subheader {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-left: -20px;
  opacity: 0;
  transition: 0.5s;
}

.second-screen-subheader.visible {
  opacity: 1;
  margin-left: 0;
}

.second-screen-content {
  display: flex;
  justify-content: space-between;
  height: 400px;
  width: 100%;
  text-align: left;
  margin-bottom: -20px;
  opacity: 0;
  transition: 0.5s;
}

.second-screen-content.visible {
  margin-bottom: 0;
  opacity: 1;
}

.project-pic {
  width: 50%;
  background-image: url("./building.png");
  background-size: cover;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding:0 50px;
}

@media (max-width: 650px) {
  .navigation {
    display: none;
  }
}

